# Этот файл подгружается в xray-configmap.yaml через envsubst или аналогичный механизм
# Пример использования: envsubst < xray-configmap.yaml > xray-configmap.generated.yaml
ID=""
PRIVATE_KEY=""
SHORT_ID=""
DNS_ADDRESS=""
